# üß™ Contexto Ficticio: An√°lisis de Ventas de una Tienda Online
Tu tienda online registr√≥ datos de ventas, productos y clientes. Necesit√°s responder preguntas t√≠picas del an√°lisis de datos.

# üß© Ejercicio 1 ‚Äì Listas y Diccionarios
Ten√©s una lista de productos vendidos con sus precios:

In [3]:
ventas = [
    {"producto": "Mouse", "precio": 2500},
    {"producto": "Teclado", "precio": 4500},
    {"producto": "Monitor", "precio": 22000},
    {"producto": "Auriculares", "precio": 6800},
    {"producto": "Teclado", "precio": 4500},
    {"producto": "Monitor", "precio": 4500}
]

## Preguntas:
### 1.	¬øCu√°l fue el monto total vendido?
### 2.	¬øCu√°ntas veces se vendi√≥ cada producto?
### 3.	¬øCu√°l fue el producto m√°s vendido?
### 4.	¬øCu√°l fue el producto m√°s caro vendido?

In [4]:

# 1. Monto total vendido
total = sum(venta["precio"] for venta in ventas)
print("Total vendido:", total)

# 2. Veces que se vendi√≥ cada producto
contador = {}
for venta in ventas:
    prod = venta["producto"]
    contador[prod] = contador.get(prod, 0) + 1
print("Ventas por producto:", contador)

# 3. Producto m√°s vendido
mas_vendido = max(contador, key=contador.get)
print("Producto m√°s vendido:", mas_vendido)

# 4. Producto m√°s caro vendido
mas_caro = max(ventas, key=lambda x: x["precio"])
print("Producto m√°s caro:", mas_caro["producto"], "- Precio:", mas_caro["precio"])

Total vendido: 44800
Ventas por producto: {'Mouse': 1, 'Teclado': 2, 'Monitor': 2, 'Auriculares': 1}
Producto m√°s vendido: Teclado
Producto m√°s caro: Monitor - Precio: 22000

### C√≥digo modificado para que muestre m√°s de un producto en "Producto m√°s vendido"

In [5]:
# 1. Monto total vendido
total = sum(venta["precio"] for venta in ventas)
print("Total vendido:", total)

# 2. Veces que se vendi√≥ cada producto
contador = {}
for venta in ventas:
    prod = venta["producto"]
    contador[prod] = contador.get(prod, 0) + 1
print("Ventas por producto:", contador)

# 3. Producto(s) m√°s vendido(s)
max_ventas = max(contador.values())
mas_vendidos = [producto for producto, cantidad in contador.items() if cantidad == max_ventas]
print("Producto(s) m√°s vendido(s):", ", ".join(mas_vendidos))

# 4. Producto m√°s caro vendido
mas_caro = max(ventas, key=lambda x: x["precio"])
print("Producto m√°s caro:", mas_caro["producto"], "- Precio:", mas_caro["precio"])

Total vendido: 44800
Ventas por producto: {'Mouse': 1, 'Teclado': 2, 'Monitor': 2, 'Auriculares': 1}
Producto(s) m√°s vendido(s): Teclado, Monitor
Producto m√°s caro: Monitor - Precio: 22000

# üß© Ejercicio 2 ‚Äì Arrays de Numpy

In [5]:
import numpy as np
precios = np.array([2500, 4500, 22000, 6800, 4500])
cantidades = np.array([1, 2, 1, 1, 1])

### Preguntas:
### 1.	Calcul√° el total vendido por cada l√≠nea de producto (precio * cantidad).
### 2.	¬øCu√°l fue el ingreso total?
### 3.	¬øCu√°l fue el producto con mayor ingreso?

In [6]:
# 1. Total por l√≠nea
total_linea = precios * cantidades
print("Total por l√≠nea:", total_linea)

# 2. Ingreso total
ingreso_total = total_linea.sum()
print("Ingreso total:", ingreso_total)

# 3. Producto con mayor ingreso
indice_mayor = np.argmax(total_linea)
print("Mayor ingreso l√≠nea:", total_linea[indice_mayor])

Total por l√≠nea: [ 2500  9000 22000  6800  4500]
Ingreso total: 44800
Mayor ingreso l√≠nea: 22000

## üß© Ejercicio 3 ‚Äì Series de pandas

In [7]:
import pandas as pd
productos = ["Mouse", "Teclado", "Monitor", "Auriculares", "Teclado"]
precios = [2500, 4500, 22000, 6800, 4500]
serie_precios = pd.Series(precios, index=productos)

### Preguntas:
### 1.	Mostr√° la serie ordenada por precio.
### 2.	¬øCu√°nto costaron en total todos los teclados?
### 3.	Mostr√° los productos cuyo precio supera los $5000.

In [8]:
# 1. Ordenar por precio
ordenado = serie_precios.sort_values()
print("Serie ordenada:\n", ordenado)

# 2. Total de teclados
total_teclados = serie_precios["Teclado"].sum()
print("Total teclados:", total_teclados)

# 3. Productos con precio > 5000
mayores_5000 = serie_precios[serie_precios > 5000]
print("Productos > 5000:\n", mayores_5000)

Serie ordenada:
 Mouse           2500
Teclado         4500
Teclado         4500
Auriculares     6800
Monitor        22000
dtype: int64
Total teclados: 9000
Productos > 5000:
 Monitor        22000
Auriculares     6800
dtype: int64

# üß© Ejercicio 4 ‚Äì DataFrame: An√°lisis de Ventas

In [24]:
data = {
    "producto": ["Mouse", "Teclado", "Monitor", "Auriculares", "Teclado"],
    "precio": [2500, 4500, 22000, 6800, 4500],
    "cantidad": [1, 2, 1, 1, 1],
    "cliente": ["Ana", "Luis", "Ana", "Pedro", "Luis"]
}
df = pd.DataFrame(data)
print(len(df))
df

5

      producto  precio  cantidad cliente
0        Mouse    2500         1     Ana
1      Teclado    4500         2    Luis
2      Monitor   22000         1     Ana
3  Auriculares    6800         1   Pedro
4      Teclado    4500         1    Luis

### Preguntas:
### 1.	¬øCu√°l es el ingreso total?
### 2.	Mostr√° el total de ventas por producto.
### 3.	Mostr√° el total de ventas por cliente.
### 4.	¬øCu√°l fue el producto m√°s vendido en cantidad?
### 5.	¬øQu√© cliente gast√≥ m√°s?

In [26]:
# 1. Ingreso total
df["total"] = df["precio"] * df["cantidad"]
print("Ingreso total:", df["total"].sum())

# 2. Total ventas por producto
ventas_producto = df.groupby("producto")["total"].sum()
print("Total por producto:\n", ventas_producto)

# 3. Total ventas por cliente
ventas_cliente = df.groupby("cliente")["total"].sum()
print("Total por cliente:\n", ventas_cliente)

# 4. Producto m√°s vendido en cantidad
cantidad_producto = df.groupby("producto")["cantidad"].sum()
print("Producto m√°s vendido:", cantidad_producto.idxmax())

# 5. Cliente que gast√≥ m√°s
mejor_cliente = ventas_cliente.idxmax()
print("Cliente que m√°s gast√≥:", mejor_cliente)

Ingreso total: 44800
Total por producto:
 producto
Auriculares     6800
Monitor        22000
Mouse           2500
Teclado        13500
Name: total, dtype: object
Total por cliente:
 cliente
Ana      24500
Lucas        0
Luis     13500
Pedro     6800
Name: total, dtype: object
Producto m√°s vendido: Teclado
Cliente que m√°s gast√≥: Ana

# üß© Ejercicio 5 ‚Äì Limpieza de Datos

In [28]:
data = {
    "producto": ["Mouse", "Teclado", "Monitor", "Auriculares", "Teclado"],
    "precio": [2500, 4500, 22000, 6800, 4500],
    "cantidad": [1, 2, 1, 1, 1],
    "cliente": ["Ana", "Luis", "Ana", "Pedro", "Luis"]
}
df = pd.DataFrame(data)
# Agreg√° a df una fila con datos faltantes:
df.loc[len(df)] = [None, None, None, "Lucas"]
df

      producto precio cantidad cliente
0        Mouse   2500        1     Ana
1      Teclado   4500        2    Luis
2      Monitor  22000        1     Ana
3  Auriculares   6800        1   Pedro
4      Teclado   4500        1    Luis
5         None   None     None   Lucas

### Preguntas:
### 1.	Detect√° y mostr√† los valores faltantes.
### 2.	Elimin√° las filas con datos incompletos.
### 3.	Reemplaz√° valores faltantes por 0 en cantidad y precio.

In [29]:
# 1. Detectar valores faltantes
print("Valores nulos por columna:\n", df.isnull().sum())

# 2. Eliminar filas con datos faltantes
df_limpio = df.dropna()
print("DataFrame limpio:\n", df_limpio)

# 3. Reemplazar nulos con 0 (en cantidad y precio)
df["cantidad"].fillna(0, inplace=True)
df["precio"].fillna(0, inplace=True)
print("DataFrame con reemplazos:\n", df)

Valores nulos por columna:
 producto    1
precio      1
cantidad    1
cliente     0
dtype: int64
DataFrame limpio:
       producto precio cantidad cliente
0        Mouse   2500        1     Ana
1      Teclado   4500        2    Luis
2      Monitor  22000        1     Ana
3  Auriculares   6800        1   Pedro
4      Teclado   4500        1    Luis
DataFrame con reemplazos:
       producto  precio  cantidad cliente
0        Mouse    2500         1     Ana
1      Teclado    4500         2    Luis
2      Monitor   22000         1     Ana
3  Auriculares    6800         1   Pedro
4      Teclado    4500         1    Luis
5         None       0         0   Lucas

C:\Users\seba_\AppData\Local\Temp\ipykernel_17852\3078736132.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cantidad"].fillna(0, inplace=True)
C:\Users\seba_\AppData\Local\Temp\ipykernel_17852\3078736132.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["cantidad"].fillna(0, inplace=True)
C:\Users\seba_\AppData\Local\Temp\ipykernel_17852\3078736132.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["precio"].fillna(0, inplace=True)
C:\Users\seba_\AppData\Local\Temp\ipykernel_17852\3078736132.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["precio"].fillna(0, inplace=True)